.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  max-width: 70%;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  position: relative;
  z-index: 999;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff8a;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px);
}
.mainContainer { position: relative; }
.taskWrap {
  position: relative
}

.mainContainer img {
  position: fixed;
  top: 20px;
  left: 70px;
  z-index: -1;
  width: 70%;
}

.mainContainer h4 {
  width: 100%;
  margin: 50px 0;
  text-align: center
}
.card {
  margin: 7px 0;
  padding: 15px 15px;
  background-color: #ffffff33;
  backdrop-filter: blur(69px)
}
.faComplete i, .faNotComplete i {
  margin-right: 7px;
}

.faComplete { color: green }
.faNotComplete { color: red }

/* Register */
.registerContainer { position: relative; }

.registerContainer img {
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: -1;
  width: 400px
}

.register small {
  display: block;
  margin-bottom: 2rem;
}

.register, .main {
  margin: 0 auto 100px auto;
  box-shadow: 2px 0 10px rgb(236, 236, 236);
  -webkit-box-shadow: 2px 0 10px rgb(236, 236, 236);
  -moz-box-shadow: 2px 0 10px rgb(236, 236, 236);
  -ms-box-shadow: 2px 0 10px rgb(236, 236, 236);
  -o-box-shadow: 2px 0 10px rgb(236, 236, 236);
  border-radius: 15px;
  position: relative;
  z-index: 222;
}

.register .formF, .main {
  background-color: rgba(255, 255, 255, 0.474);
  padding: 40px;

}

.register label {
  /* color: #aaa; */
  font-size: 14px;
}

.register input, .register input:focus {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.214);
  outline: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  
}

.register input, .register h6 {
  margin-bottom: 1.25rem;
  outline: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  
}

.register h6, .register a {
  color: rgb(96, 96, 96);
  font-weight: normal;
  font-size: 14px;
}

.register button {
  width: 100%;
  padding: 10px
}

/* Media */
@media(min-width: 767px){
  .register {
    max-width: 70%;
  }
}

@media(max-width: 767px) {
  .main {
    max-width: 100% !important;
  }
}

@media(min-width: 991px){
  .mainContainer img {
    top: 5px;
    left: 120px
  }
}

@media(max-width: 991px){
  .mainContainer img {
    top: 60px;
    left: 0;
    z-index: -1;
    width: initial;
  }
}